{%- extends "base.html" %}
{%- block content %}
        <!-- output_devices -->
        {%- if output_devices %}
        <div class="col-xs-4">
        <div class="card text-xs-center">
            <div class="card-block">
                {%- for device, status in output_devices.items() %}
                <h4 class="card-title"> {{device|title}}</h4>
                        <form class="" action="/output_devices/" method="post">
                            <input type="hidden" name="device" value="{{device}}">
                            <label class="switch">
                                {%- if status == True %}
                                <input type="hidden" name="{{device}}" value="on" checked>
                                <input type="checkbox" name="{{device}}" value="on" onChange="this.form.submit()" checked>
                                {%- else %}
                                <input type="checkbox" name="{{device}}" value="off" onChange="this.form.submit()">
                                {%- endif %}
                                <div class="slider round"></div>
                            </label>
                        </form>
                {%- endfor %}
            </div>
        </div>
        </div>
        {%- endif %}
        <!-- End output_devices -->
        <!--- is it defined? -->
        {%- if led_strips %}
        <!-- led_strips -->
        {%- for _, strip in led_strips.items() %}
        <div class="col-xs-6">
            <div class="card text-xs-center">
                <div class="card-block">
                    <h4 class="card-title">{{ strip["name"]|title }}</h4>
                    <form class="" name="leds" action="/led_strips/" method="post">
                        <div class="form-group">
                            <div class="row">
                            <div class="col">
                                <input type="hidden" name="device" value="{{strip['name']}}">
                                <label class="switch">
                                    {%- if strip['status'] == True %} <!-- on -->
                                    <input type="hidden" name="{{strip['name']}}" value="off" checked>
                                    <input type="checkbox" name="{{strip['name']}}" value="off" onChange="this.form.submit()" checked>
                                    {%- else %}
                                    <input type="checkbox" name="{{strip['name']}}" value="on" onChange="this.form.submit()">
                                    {%- endif %}
                                    <div class="slider round"></div>
                                </label>
                            </div>
                            <div class="col">
                                <select name="color" onChange="this.form.submit()">
                                    {%- for color, status in strip['colors'].items() %}
                                    {%- if status == True %}
                                    <option name="{{color}}" value="{{color}}" selected="selected">{{color}}</option>
                                    {%- else %}
                                    <option name="{{color}}" value="{{color}}">{{color}}</option>
                                    {%- endif %}
                                    {%- endfor %}
                                </select>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {%- endfor %}
        <!-- End led_strips -->
        {%- endif %}
        <!--- is it defined? -->
{%- endblock %}
